html,
body,
.start-page {
  width: 100%;
  height: 100%;
  background-color: #87ceeb !important;
  overflow: hidden;
}

p {
  margin: 0;
}

.balloon-gif {
  width: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}


.instructions {
  background-color: white;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
}

.take-to-game-btn {
  margin-top: 10px;
}

/* transition overlay */
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  font-size: large;
  font-weight: bold;
}	

/* bottom navigation bar */
.bottom-bar {
	position: absolute;
	bottom: 0;
	background-color: black;
	width: 100%;
}

.bottom-bar-item {
	background-color: white;
	border-radius: 5px;
	margin: 3px 0 3px 40px;
	padding: 6px 6px 0 6px;
	min-height: 40px;
}

/* balloon animation */
.content {
  width: 100%;
  position: absolute;
}

svg {
  cursor:pointer;
  stroke-width: 0.3;
  fill: none;
  width: 100%;
  height: 80vh;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.main-svg {
  visibility: visible;
  position: absolute;
}

.second-svg {
  visibility: hidden;
  position: absolute;
  top: -120px;
  left: -80px;
}

.third-svg {
  z-index: -1;
  visibility: hidden;
  position: absolute;
  top: -120px;
  left: -60px;
}

.rotate {
  transform: rotate(20deg);
}

.rotate-2 {
  transform: rotate(30deg);
}

.needle {
  width: 150px;
  height: 8px;
  background: grey;
  position: absolute;
  left: 80vw;
  top: 35vh;
  border-radius: 0 10px 10px 0;
}

.needle:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px 20px 4px 0px;
  border-color: transparent grey transparent transparent;
  border-style: solid;
  position: absolute;
  left: -20px;
}

.needle:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 3px;
  background: #f9f0ae;
  border-radius: 40%;
  position: absolute;
  left: 135px;
  top: 2.5px;
}


