html,
body,
.start-page,
.game-screen {
  width: 100%;
  height: 100%;
  background-color: #87ceeb !important;
  overflow: hidden !important;
}

.timer {
  display: none;
}

p {
  margin: 0;
}

.balloon-gif {
  width: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.instructions {
  background-color: white;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
}

.take-to-game-btn {
  margin-top: 10px;
}

/* pop text */
.pop-text {
  font-size: 80px;
  font-weight: bolder;
  position: absolute;
}

/* transition overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlay-text {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding: 20px;
  border-radius: 8px;
}


/* bottom navigation bar */
.bottom-bar {
  position: absolute;
  bottom: 0px;
  background-color: black;
  width: 100%;
}

.bottom-bar-item {
  background-color: white;
  border-radius: 5px;
  margin: 3px 0 3px 40px;
  padding: 6px 6px 0 6px;
  min-height: 40px;
}

/* balloon animation */
.content {
  width: 100%;
  position: absolute;
}

.click-to-pop {
  cursor: pointer;
}

svg {
  stroke-width: 0.3;
  fill: none;
  width: 100%;
  height: 80vh;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
}

.main-svg {
  visibility: visible;
  position: absolute;
}



.second-svg {
  visibility: hidden;
  position: absolute;
  /* top: -120px;
  left: -80px; */
}

.third-svg {
  z-index: -1;
  visibility: hidden;
  position: absolute;
  /* top: -120px;
  left: -60px; */
}

.rotate {
  transform: rotate(20deg);
}

.rotate-2 {
  transform: rotate(30deg);
}

.site {
  overflow: hidden !important;
}

